body {
    font-family: 'Courier New', monospace;
}

div {
    height: 300px;
    margin: 170px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

button {
    font-family: 'Courier New', monospace;
    font-size: 15px;
}

.count {
    align-self: end;
}

.reset {
    color: red;
}

.output {
    visibility: hidden;
}